In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [4]:
X_train = np.loadtxt("XTrain.csv", delimiter=",", dtype=str)[1:]
X_train.shape

(6132, 14)

In [82]:
X_train = pd.read_csv("XTrain.csv", encoding="unicode_escape")
X_train = X_train.drop(['Index'], axis=1)
X_test = pd.read_csv("XTest.csv", encoding="unicode_escape")
X_test = X_test.drop(['Index'], axis=1)
y_train = pd.read_csv("yTrain.csv", encoding="unicode_escape")
y_train = y_train.drop(['Index'], axis=1)

In [37]:
X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Hour,6132.0,11.520059,6.922062,0.0,5.0,12.00,17.00,23.00
Temperature(Â°C),6132.0,13.002658,11.921261,-17.5,3.5,13.90,22.70,39.30
Humidity(%),6132.0,58.096053,20.384153,0.0,42.0,57.00,74.00,98.00
Wind speed (m/s),6132.0,1.729958,1.045960,0.0,0.9,1.50,2.40,7.30
Visibility (10m),6132.0,1440.791422,606.076776,27.0,946.0,1706.50,2000.00,2000.00
Dew point temperature(Â°C),6132.0,4.141813,13.047188,-30.5,-4.7,5.10,14.90,26.80
Solar Radiation (MJ/m2),6132.0,0.578255,0.874270,0.0,0.0,0.01,0.96,3.52
Rainfall(mm),6132.0,0.158040,1.227656,0.0,0.0,0.00,0.00,35.00
Snowfall (cm),6132.0,0.071836,0.431092,0.0,0.0,0.00,0.00,8.80

In [25]:
X_train.groupby('Functioning Day').sum()['Rented Bike Count'].sort_values(ascending = False).reset_index()

/var/folders/n1/d4n7cl592tv868mtdj6zh25h0000gn/T/ipykernel_1666/1678480693.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  X_train.groupby('Functioning Day').sum()['Rented Bike Count'].sort_values(ascending = False).reset_index()

  Functioning Day  Rented Bike Count
0             Yes            4374904
1              No                  0

In [83]:
X_train['Date'] = pd.to_datetime(X_train['Date'], dayfirst=True) 
X_train['Day'] = X_train['Date'].dt.day
X_train['Month'] = X_train['Date'].dt.month
X_train['Year'] = X_train['Date'].dt.year

X_test['Date'] = pd.to_datetime(X_test['Date'],dayfirst=True) 
X_test['Day'] = X_test['Date'].dt.day
X_test['Month'] = X_test['Date'].dt.month
X_test['Year'] = X_test['Date'].dt.year

X_train.drop(columns=['Date'],inplace=True)
X_test.drop(columns=['Date'],inplace=True)

In [74]:
X_train

,Hour,Temperature(Â°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(Â°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Day,Month,Year
0,5,10.2,73,0.8,1137,5.5,0.00,0.0,0.0,Spring,No Holiday,Yes,26,4,2018
1,7,15.1,80,1.0,623,11.6,0.01,0.0,0.0,Spring,No Holiday,Yes,2,4,2018
2,8,17.1,57,1.7,792,8.5,1.21,0.0,0.0,Spring,No Holiday,Yes,25,5,2018
3,22,2.7,88,2.0,621,0.9,0.00,0.0,0.0,Spring,No Holiday,Yes,8,4,2018
4,17,6.3,50,4.4,707,-3.3,0.64,0.0,0.0,Spring,No Holiday,Yes,6,4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6127,15,27.8,41,1.6,1851,13.3,2.89,0.0,0.0,Summer,No Holiday,Yes,16,6,2018
6128,22,28.0,76,1.5,1542,23.3,0.00,0.0,0.0,Summer,No Holiday,Yes,19,7,2018
6129,20,25.3,32,2.2,1997,7.4,0.06,0.0,0.0,Summer,No Holiday,Yes,3,6,2018
6130,22,29.1,77,3.0,1559,24.6,0.00,0.0,0.0,Summer,No Holiday,Yes,5,8,2018
6131,20,8.2,53,0.6,1621,-0.8,0.00,0.0,0.0,Autumn,No Holiday,Yes,11,11,2018

In [84]:
from sklearn.preprocessing import OrdinalEncoder

le_seasons = OrdinalEncoder().fit(X_train[['Seasons']])
X_train['Seasons'] = le_seasons.transform(X_train[['Seasons']])
X_test['Seasons'] = le_seasons.transform(X_test[['Seasons']])

le_holiday = OrdinalEncoder().fit(X_train[['Holiday']])
X_train['Holiday'] = le_holiday.transform(X_train[['Holiday']])
X_test['Holiday'] = le_holiday.transform(X_test[['Holiday']])

le_func_day = OrdinalEncoder().fit(X_train[['Functioning Day']])
X_train['Functioning Day'] = le_func_day.transform(X_train[['Functioning Day']])
X_test['Functioning Day'] = le_func_day.transform(X_test[['Functioning Day']])

In [85]:
X_train

,Hour,Temperature(Â°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(Â°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Day,Month,Year
0,5,10.2,73,0.8,1137,5.5,0.00,0.0,0.0,1.0,1.0,1.0,26,4,2018
1,7,15.1,80,1.0,623,11.6,0.01,0.0,0.0,1.0,1.0,1.0,2,4,2018
2,8,17.1,57,1.7,792,8.5,1.21,0.0,0.0,1.0,1.0,1.0,25,5,2018
3,22,2.7,88,2.0,621,0.9,0.00,0.0,0.0,1.0,1.0,1.0,8,4,2018
4,17,6.3,50,4.4,707,-3.3,0.64,0.0,0.0,1.0,1.0,1.0,6,4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6127,15,27.8,41,1.6,1851,13.3,2.89,0.0,0.0,2.0,1.0,1.0,16,6,2018
6128,22,28.0,76,1.5,1542,23.3,0.00,0.0,0.0,2.0,1.0,1.0,19,7,2018
6129,20,25.3,32,2.2,1997,7.4,0.06,0.0,0.0,2.0,1.0,1.0,3,6,2018
6130,22,29.1,77,3.0,1559,24.6,0.00,0.0,0.0,2.0,1.0,1.0,5,8,2018
6131,20,8.2,53,0.6,1621,-0.8,0.00,0.0,0.0,0.0,1.0,1.0,11,11,2018

In [109]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.metrics import r2_score

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

y_train = np.array(y_train).reshape((len(y_train),))

# model = Ridge()
# model.fit(X_train, y_train)
# y_pred = model.predict(X_train)
# score = r2_score(y_train, y_pred)
# print(score)

model = RandomForestRegressor(n_estimators=500, max_features="sqrt" ,random_state=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
score = r2_score(y_train, y_pred)
print(score)

0.9833173021673585

In [110]:
y_pred_test = model.predict(X_test)

In [94]:
y_pred_test.shape

(2628,)

In [111]:
import csv

with open("yTest.csv", "w", encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(["Index", "Rented Bike Count"])
    for ind, y_val in enumerate(y_pred_test):
        writer.writerow([ind, y_val])
        # break